{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<h2>Delete site</h2>
<form action="" method="post">{% csrf_token %}
	{{ form|crispy }}

	<p>
		Are you sure you want to delete <span class="has-text-weight-bold">{{ site.name }}?</span>
	</p>
	<p>
		<strong class="has-text-danger">DANGER!</strong> You were given permission to delete sites, but this is dangerous. You are able to delete <em>any</em> site, so make sure this is the one you'd like to delete.
	</p>
	<p class="mb-1">
		This is site is owned by:
		<ul class="mt-1">
		{% for owner in site_owners %}
			<li>{{ owner }}</li>
		{% endfor %}
		</ul>
	</p>

	<button class="button is-danger ms-0 mt-2" type="submit">Confirm</button>
</form>

{% endblock content %}