<aside class="menu column is-2 is-narrow-mobile is-fullheight section is-hidden-mobile">
	<p class="menu-label is-hidden-touch">Navigation</p>
	<ul class="menu-list">
		<li>
			<a href="#" class="">
				<span class="icon"><i class="fa fa-home"></i></span> Home
			</a>
		</li>

		<li>
			<a href="{% url deploy:list %}" class="is-active">
				<span class="icon"><i class="fa fa-table"></i></span> Sites
			</a>

			<ul>
				{% for site in sites %}
				<li>
					<a href="{% site %}">
						<span class="icon is-small"><i class="fa fa-link"></i></span> {{ site.name }}
					</a>
				</li>
				{% endfor %}
			</ul>
		</li>

		<li>
			<a href="#" class="">
				<span class="icon"><i class="fa fa-info"></i></span> About
			</a>
		</li>
	</ul>
</aside>